<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
  <div class="navbar-brand ml-5 logo d-none d-sm-none d-md-none d-lg-block d-xl-block">
    <figure class="logo__shape">
      <img class="logo__img logo__img--lg" src="/images/logo.svg" alt="Logo" />
    </figure>
    <div class="logo__text logo__text--lg">
      <span class="logo__text--lg-primary">Pole to Pole, LLC</span>
      <span class="logo__text--lg-secondary">Process&nbsp;&nbsp;Servers</span>
    </div>
  </div>
  <div class="navbar-brand logo d-block d-sm-block d-md-block d-lg-none d-xl-none">
    <figure class="logo__shape">
      <img class="logo__img logo__img--sm" src="/images/logo.svg" alt="Logo" />
    </figure>
    <div class="logo__text logo__text--sm">
      <span class="logo__text--sm-primary">Pole to Pole, LLC</span>
      <span class="logo__text--sm-secondary">Process&nbsp;&nbsp;Servers</span>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto mr-5">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/about-us">Who We Are</a>
      <a class="nav-item nav-link" href="/service-of-process">Service of Process</a>
      <a class="nav-item nav-link" href="/other-services">More</a>
      <a class="nav-item nav-link" href="/contact-us">Contact</a>
    </div>
  </div>
</nav>