{{> es-header }}
<div class="jumbotron jumbotron-fluid jumbotron__header jumbotron__header--img jumbotron__header--img-about">
    <div class="container">
        <div class="jumbotron__header__heading">
            <h1 class="text-white jumbotron__header__heading--primary">¿Quiénes Somos? </h1>
        </div>
    </div>
</div>
<div class="container">
    <main style="min-height:600px;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
                <div class="card card-custom">
                    <div class="card-header card-custom__header text-white">
                        <h2>Conócenos</h2>
                    </div>
                    <div class="card-body card-custom__body card-custom__body--about">
                        <p class="primary-color">Somos un equipo confiable de servidores de procesos certificados con el
                            Tribunal de Texas, siguiendo paso a paso las <strong>Federales de Procedimiento
                                Civil.</strong></p>
                        <p class="primary-color mt-3">Sabemos lo importante que es para cada uno de nuestros clientes
                            lograr un servicio eficaz, exitoso y discreto.</p>
                        <p class="primary-color text-center mt-5"><strong>En Pole to Pole Process Servers, LLC<br>¡LO
                                HAREMOS FACILMENTE POR TÍ!</strong></p>
                    </div>
                    <div class="card-footer card-custom__footer">
                        <h3>Compartir Este:</h3>
                        <div class="fb-share-button btn btn-theme btn-share"
                            data-href="https://poletopoleprocessservers.com" data-layout="button_count"
                            data-size="small"><i class="fab fa-facebook-square fa-lg"></i><a target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpoletopoleprocessservers.com%2F&amp;src=sdkpreparse"
                                class="fb-xfbml-parse-ignore"> Facebook</a></div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3">
                {{> es-right-col }}
            </div>
        </div>
    </main>
</div>

{{> es-footer }}