{{> es-header }}
<div class="jumbotron jumbotron-fluid jumbotron__header jumbotron__header--img jumbotron__header--img-home">
  <div class="container">
    <div class="jumbotron__header__heading">
      <h1 class="text-white jumbotron__header__heading--primary">Bienvenidos!</h1>      
    </div>
  </div>
</div>
<div class="container">
  <main style="min-height:800px;">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
        <div class="card card-custom">
          <div class="card-header card-custom__header text-white">
            <h2>¿Por qué elegir Pole to Pole Process Servers, LLC contra otras compañías de Servidores de Procesos?</h2>
          </div>
          <div class="card-body card-custom__body card-custom__body--home">
            <ul>
              <li>Entregamos personalmente cualquier documento a la parte nombrada con más rapidez.</li>
              <li>Precios bajos y alta calidad en el servicio.</li>
              <li>Te mantendremos informado en cada uno de los intentos en el proceso.</li>
            </ul>
          </div>
          <div class="card-footer card-custom__footer">
            <h3>Compartir Este:</h3>
            <div class="fb-share-button btn btn-theme btn-share" data-href="https://poletopoleprocessservers.com"
              data-layout="button_count" data-size="small"><i class="fab fa-facebook-square fa-lg"></i><a
                target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpoletopoleprocessservers.com%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore"> Facebook</a></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3">
        {{> es-right-col }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-5">
        <div class="card card-custom">
          <div class="card-header card-custom__header text-white">
            Testimonials
          </div>
          <div class="card-body card-custom__body ">
            <div id="carouselTestimonials" class="carousel slide card-custom__body--testimonial" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active card-custom__body--testimonial-body">
                  <div class="row">
                    <div class="col-12">
                      <table style="height: 200px;">
                        <tbody>
                          <tr>
                            <td class="align-middle" style="width:16%">
                              <div class="card-custom__body--testimonial-image">
                                <img class="img-fluid" src="http://lorempixel.com/150/150/people" alt="">
                              </div>
                            </td>
                            <td class="align-middle pl-4">
                              <blockquote class="blockquote">
                                <p class="mb-0"><i class="fas fa-quote-left primary-color"></i> Lorem ipsum dolor
                                  sit amet consectetur adipisicing elit. Dolores adipisci placeat corporis quo
                                  soluta dolor maiores iste quam exercitationem distinctio, ratione beatae debitis
                                  aliquid amet accusamus animi repudiandae dolorum vero.</p>
                                <footer class="blockquote-footer">John Doe from <cite title="Source Title"><a
                                      href="#!">www.website.com</a></cite></footer>
                              </blockquote>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="carousel-item card-custom__body--testimonial-body">
                  <div class="row">
                    <div class="col-12">
                      <table style="height: 200px;">
                        <tbody>
                          <tr>
                            <td class="align-middle" style="width:16%">
                              <div class="card-custom__body--testimonial-image">
                                <img class="img-fluid" src="http://lorempixel.com/150/150/people" alt="">
                              </div>
                            </td>
                            <td class="align-middle pl-4">
                              <blockquote class="blockquote">
                                <p class="mb-0"><i class="fas fa-quote-left primary-color"></i> Lorem ipsum dolor
                                  sit amet consectetur adipisicing elit. Dolores adipisci placeat corporis quo
                                  soluta dolor maiores iste quam exercitationem distinctio, ratione beatae debitis
                                  aliquid amet accusamus animi repudiandae dolorum vero.</p>
                                <footer class="blockquote-footer">John Doe from <cite title="Source Title"><a
                                      href="#!">www.website.com</a></cite></footer>
                              </blockquote>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="carousel-item card-custom__body--testimonial-body">
                  <div class="row">
                    <div class="col-12">
                      <table style="height: 200px;">
                        <tbody>
                          <tr>
                            <td class="align-middle" style="width:16%">
                              <div class="card-custom__body--testimonial-image">
                                <img class="img-fluid" src="http://lorempixel.com/150/150/people" alt="">
                              </div>
                            </td>
                            <td class="align-middle pl-4">
                              <blockquote class="blockquote">
                                <p class="mb-0"><i class="fas fa-quote-left primary-color"></i> Lorem ipsum dolor
                                  sit amet consectetur adipisicing elit. Dolores adipisci placeat corporis quo
                                  soluta dolor maiores iste quam exercitationem distinctio, ratione beatae debitis
                                  aliquid amet accusamus animi repudiandae dolorum vero.</p>
                                <footer class="blockquote-footer">John Doe from <cite title="Source Title"><a
                                      href="#!">www.website.com</a></cite></footer>
                              </blockquote>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
{{> es-footer }}