{{> es-header }}
<div class="jumbotron jumbotron-fluid jumbotron__header jumbotron__header--img jumbotron__header--img-sop">
    <div class="container">
        <div class="jumbotron__header__heading">
            <h1 class="text-white jumbotron__header__heading--primary">Servicio de Procesos</h1>
        </div>

    </div>
</div>
<div class="container">
    <main style="min-height:600px;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
                <div class="card card-custom p-3 mb-5">
                    <h1>Ver nuestras tarifas de servicio para:</h1>
                    <ul class="nav nav-pills nav-fill my-3 price-nav">
                        <li class="nav-item price-nav__item">
                            <a class="nav-link price-nav__item__link active" id="travis_wilco"
                                href="#travis-williamson-county">Condado de Travis y Williamson</a>
                        </li>
                        <li class="nav-item price-nav__item">
                            <a class="nav-link price-nav__item__link" id="statewide" href="#statewide">Todo El
                                Estado</a>
                        </li>
                        <li class="nav-item price-nav__item">
                            <a class="nav-link price-nav__item__link" id="nationwide" href="#nationwide">Toda La Nación</a>
                        </li>
                    </ul>
                    <div class="price-table mb-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="price-table__row">
                                    <div class="price-table__row__price price-table__row__price--reg">
                                        <span class="price-table__row__price--text">Regular <br><span
                                                class="price-table__row__price--cost" id="priceReg">
                                                <!-- $60 -->
                                            </span></span>
                                    </div>
                                    <div class="price-table__row__desc price-table__row__desc--reg">
                                        <p>Primer intento en los primeros 5 días.<br>
                                            Servicio de 3 intentos completado en 10 días</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="price-table__row">
                                    <div class="price-table__row__price price-table__row__price--rush">
                                        <span class="price-table__row__price--text">Urgente<br><span
                                                class="price-table__row__price--cost" id="priceRush">
                                                <!-- $75 -->
                                            </span></span>
                                    </div>
                                    <div class="price-table__row__desc price-table__row__desc--rush">
                                        <p>(Primer intento en los primeros 3 días.<br>
                                            Servicio de 3 intentos completado en 7 días.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="price-table__row">
                                    <div class="price-table__row__price price-table__row__price--priority">
                                        <span class="price-table__row__price--text">Prioritario<br><span
                                                class="price-table__row__price--cost" id="pricePriority">
                                                <!-- $90 -->
                                            </span></span>
                                    </div>
                                    <div class="price-table__row__desc price-table__row__desc--priority">
                                        <p>Primer intento en 1 día. <br>
                                            Servicio de 3 intentos completado en 3 días.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12">
                                <div class="price-table__row">
                                    <div class="price-table__row__price price-table__row__price--sameday">
                                        <span class="price-table__row__price--text">Mismo Dia<br><span
                                                class="price-table__row__price--cost" id="priceSameDay">
                                                <!-- $110 -->
                                            </span></span>
                                    </div>
                                    <div class="price-table__row__desc price-table__row__desc--sameday">
                                        <p class="mt-3">Completando el servicio tan rápido como nos sea posible.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer card-custom__footer">
                        <h3>Compartir Este:</h3>
                        <div class="fb-share-button btn btn-theme btn-share"
                            data-href="https://poletopoleprocessservers.com/service-of-process.html"
                            data-layout="button_count" data-size="small"><i class="fab fa-facebook-square fa-lg"></i><a
                                target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpoletopoleprocessservers.com%2F&amp;src=sdkpreparse"
                                class="fb-xfbml-parse-ignore"> Facebook</a></div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3">
                {{> es-right-col }}
            </div>
        </div>
    </main>
</div>
{{> es-footer }}