{{> header }}
<div class="jumbotron jumbotron-fluid jumbotron__header jumbotron__header--img jumbotron__header--img-other">
    <div class="container">
        <div class="jumbotron__header__heading">
            <h1 class="text-white jumbotron__header__heading--primary">Other Services</h1>
        </div>
    </div>
</div>
<div class="container">
    <main style="min-height:600px;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
                <div class="card card-custom">
                    <div class="card-header card-custom__header text-white">
                        <h2>We serve all around the United States!</h2>
                    </div>
                    <div class="card-body card-custom__body card-custom__body--other">
                        <ul>
                            <li>&nbsp;State and Nationwide Service</li>
                            <li>&nbsp;Delivery to Registered Agents</li>
                            <li>&nbsp;Proof of Service</li>
                            <li>&nbsp;Substituted Service</li>
                            <li>&nbsp;Notary</li>
                            <li>&nbsp;Document Retrieval</li>
                            <li>&nbsp;E-filing with the courts</li>
                            <li>Temporary Restraining Orders $20</li>
                        </ul>
                    </div>
                    <div class="card-footer card-custom__footer">
                        <h3>Share This:</h3>
                        <div class="fb-share-button btn btn-theme btn-share"
                            data-href="https://poletopoleprocessservers.com" data-layout="button_count"
                            data-size="small"><i class="fab fa-facebook-square fa-lg"></i><a target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpoletopoleprocessservers.com%2F&amp;src=sdkpreparse"
                                class="fb-xfbml-parse-ignore"> Facebook</a></div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3">
                 {{> right-col }}
            </div>
        </div>
    </main>
</div>
{{> footer }}