{{> header }}
 <div class="jumbotron jumbotron-fluid jumbotron__header jumbotron__header--img jumbotron__header--img-sop">
        <div class="container">
            <div class="jumbotron__header__heading">
                <h1 class="text-white jumbotron__header__heading--primary">Service of Process</h1>
            </div>

        </div>
    </div>
    <div class="container">
        <main style="min-height:600px;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
                    <div class="card card-custom p-3 mb-5">
                        <h1>View our service fees for:</h1>
                        <ul class="nav nav-pills nav-fill my-3 price-nav">
                            <li class="nav-item price-nav__item">
                                <a class="nav-link price-nav__item__link active" id="travis_wilco"
                                    href="#travis-williamson-county">Travis and Williamson County</a>
                            </li>
                            <li class="nav-item price-nav__item">
                                <a class="nav-link price-nav__item__link" id="statewide" href="#statewide">Statewide</a>
                            </li>
                            <li class="nav-item price-nav__item">
                                <a class="nav-link price-nav__item__link" id="nationwide"
                                    href="#nationwide">Nationwide</a>
                            </li>
                        </ul>
                        <div class="price-table mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="price-table__row">
                                        <div class="price-table__row__price price-table__row__price--reg">
                                            <span class="price-table__row__price--text">Regular <br><span class="price-table__row__price--cost" id="priceReg">
                                                    <!-- $60 -->
                                                </span></span>
                                        </div>
                                        <div class="price-table__row__desc price-table__row__desc--reg">
                                            <p>First attempt within 5 days. <br>
                                                All 3 attempts within 10 days.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="price-table__row">
                                        <div class="price-table__row__price price-table__row__price--rush">
                                                <span class="price-table__row__price--text">Rush <br><span class="price-table__row__price--cost" id="priceRush">
                                                <!-- $75 -->
                                            </span></span>
                                        </div>
                                        <div class="price-table__row__desc price-table__row__desc--rush">
                                            <p>First attempt within 5 days. <br>
                                                All 3 attempts within 10 days.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="price-table__row">
                                        <div class="price-table__row__price price-table__row__price--priority">
                                                <span class="price-table__row__price--text">Priority Rush <br><span class="price-table__row__price--cost"
                                                id="pricePriority">
                                                <!-- $90 -->
                                            </span></span>
                                        </div>
                                        <div class="price-table__row__desc price-table__row__desc--priority">
                                            <p>First attempt within 1 day. <br>
                                                All 3 attempts within 3 days.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <div class="price-table__row">
                                        <div class="price-table__row__price price-table__row__price--sameday">
                                                <span class="price-table__row__price--text">Same Day Service <br><span class="price-table__row__price--cost"
                                                id="priceSameDay">
                                                <!-- $110 -->
                                            </span></span>
                                        </div>
                                        <div class="price-table__row__desc price-table__row__desc--sameday">
                                            <p class="mt-3">Serving as fast as we can.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-footer card-custom__footer">
                            <h3>Share This:</h3>
                            <div class="fb-share-button btn btn-theme btn-share"
                                data-href="https://poletopoleprocessservers.com/service-of-process.html" data-layout="button_count"
                                data-size="small"><i class="fab fa-facebook-square fa-lg"></i><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpoletopoleprocessservers.com%2F&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore"> Facebook</a></div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3">
                   {{> right-col }}
                </div>
            </div>
        </main>
    </div>
{{> footer }}