.btn-theme {
    background: $color-primary;
    color: $color-white;    
    transition: all .3s;
    & a:link, a:visited { 
        color: $color-white;
    } 
    &:hover {
        color: $color-white;
        text-decoration: none;
        background: $color-primary-light;  
    }  
    & a:hover {
        text-decoration: none;
    }
}

.btn-share {

}
