.jumbotron__header { 
    position: relative;
    
    &__heading {
        
        animation: moveInRight 1s ease-out; 
        position: absolute;
        bottom: 10rem;        
    
        &--primary {
            font-size: 5rem;
        }
    }


    &--img {        
        width: 100%;
        height: 50rem;
        background-size: cover;       

        &-home {
            background-image: url(../../images/tx-flag.jpg); 
        }

        &-sop {
            background-image: url(../../images/court.jpg);
        }
        &-contact {
            background-image: url(../../images/contact-us.jpg); 
        }
        &-about {
            background-image: url(../../images/pencil.jpg);
        }
        &-other {
            background-image: url(../../images/chess.jpg);
        }
    }
    
}

@media only screen and (max-width: 750px) {
    .jumbotron__header { 

        &--img {        
    
            &-home {
                background-image: url(../../images/tx-flag-mobile.jpg); 
            }
            &-contact {
                background-image: url(../../images/contact-us-mobile.jpg); 
            }
        }

    }
  }

