// BASIC COLORS
$color-white: #fff;
$color-black: #000;

// THEME COLORS
$color-primary: #315870;
$color-primary-dark: #2C313F;
$color-primary-light: #3E69E1;
$color-primary-light-2: lighten($color-primary, 15%);


// PRICING TABLE COLORS
$color-green: #217a3b;
$color-yellow: #cabd00;
$color-orange: #ae7316;
$color-red: #9b1512;

$color-grey-light: #eee;
$color-grey-medium: #7a7c84; 